* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  padding: 0;
}
.chat-side {
  width: 300px;
  float: left;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    font-weight: bold;
    background-color: white;
  }
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
}

// .group {
//   margin-bottom: 40px;
//   &__
// }

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    // justify-content: space-between;
    border-bottom: solid 1px #ffffff;
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
  }
}
